# Auto detect text files and enforce LF normalization
* text=auto eol=lf

# Source code
*.json text
*.sh   text

# Documentation
*.md     text diff=markdown
LICENSE  text
*README* text

# Configs
.editorconfig  text
.gitattributes text
*.lock         text -diff
*.yml          text

# Ignore files
*.*ignore text

#
# Exclude files from exporting
#

/.github/**     export-ignore
/.editorconfig  export-ignore
/.gitattributes export-ignore
/.gitignore     export-ignore
/grumphp.yml    export-ignore
/README.md      export-ignore
